    ion-content {
        --background: #ECE6F0;
    }
form{
    max-width: 600px;
    max-height: 800px;
    background: white;
}
.inp{
    color: black;
    width: 90%;
    border: 1px solid #D9D9D9;
    background: white;
    border-radius: 4px ;
    display: flex;
    margin-left: 2%;
    margin-bottom: 2%;
}

.btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;    
    background: #EC221F;
}
.btn-rec{
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;  
    color: black;
}